# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Виртуальное окружение
venv/
.venv/
env/
.env/

# База данных
*.db
*.sqlite
*.sqlite3

# Настройки IDE
.idea/
.vscode/
*.iml

# Docker
*.log